<%- include('./partials/cabecera'); %>
    <%- include('./partials/menu'); %>
        <div class="jumbotron">
            <div class="container">
                <h2 class="display-3">Nuevo Inmueble</h2>
            </div>
            <div class="container">
                <form enctype="multipart/form-data" onsubmit="return comprobarUsuario(this);return false;"  action="/inmuebles"  method="POST">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descripcción</label>
                        <textarea name="descripcion" minlength="10" class="form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect2">Categoria</label>
                        <select class="form-control" name="tipo">
                            <%   tipos.forEach(tipo => { %>
                                <option value=" <%=tipo.id%>">
                                    <%=tipo.nombre%>
                                </option>
                                <%   }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Numero de habitaciones</label>
                        <input type="number" name="habitaciones" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Superficie (
                            <b>m2</b>)</label>
                        <input type="number" name="superficie" min="25" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Precio Inmueble (€)</label>
                        <input type="number" name="precio" min="10000" class="form-control" placeholder="0">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Imagen del inmueble</label>
                        <input type="file" class="form-control-file" name="imagen">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Añadir Inmueble</button>
                </form>
                <br>
                <% if (errores != '') {
                    %>
                    <div class="alert alert-danger" id="padre_contenedor_errores_crear">
                        <strong>Error!</strong>
                        <br>
                        <span id="contenedor_errores_crear">
                            <%=errores%>
                        </span>
                    </div>
                    <%
            }
                %>
            </div>
        </div>
        </main>
        <%- include('./partials/pie'); %>